@import '@/assets/css/variable.scss';

.error {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 100px;
  }

  &__title {
    margin-top: 20px;
    font-size: 28px;
    color: $textDark;
  }
}