@import '@/assets/css/variable.scss';

.song-info__bg {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.div-line {
  height: 40px;
  background: rgb(241, 241, 241);
}